@media screen and (max-width: 1200px) {
  .bottom {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .bottom {
    padding: 24px;
    max-width: var(--maxWidth);
    margin: 0 auto;
  }
}
